<section class="bg-primary" id="about" style="background-color: #383838; background-image: url('./img/about.png');background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
				
				<a href="./Abhishek_Patria_Resume.pdf" target="_blank" class="btn btn-default btn-xl page-scroll">Download my resume</a>			
				<p class="text-faded" style="color:white;" align="justify">or</p>
				<a href="#d3_div" target="_blank" class="btn btn-default btn-xl page-scroll">Skip to my skillset</a>						
				
				<h3 class="section-heading" style="text-decoration: underline">Graduate life</h3>
				<ul>
					<li>
						<p class="text-faded" style="color:white;" align="justify">I am a graduate student at Georgia Institute of Technology pursuing Masters of Science in Analytics, majoring in Computational Data Analytics. The major courses which I have taken are Natural Language Processing, Machine Learning, Regression Analysis, Deterministic Optimization, and Data and Visual Analytics.</p>
					</li>
					<li>
						<p class="text-faded" style="color:white;" align="justify">I am also a teaching assistant for Georgia Tech’s graduate-level course: MGT 8803 - Introduction to Business for Analytics, where I have designed and conceptualized exam questions, led office hours, and assisted students through online forums.</p>
					</li>
				</ul>
				
				<h3 class="section-heading" style="text-decoration: underline">Experience</h3>
				<ul>
					<li>
						<p class="text-faded" style="color:white;" align="justify">Prior to joining Georgia Tech, I have worked as Data Scientist and Strategy Executive for Oil and Natural Gas Corporation. I had an amazing opportunity to establish the department of analytics that synergizes the purely data driven machine learning modeling approach with traditional simulations.</p>
					</li>
					<li>
						<p class="text-faded" style="color:white;" align="justify">Additionally, I managed oil assets by building and utilizing production optimization models, statistical time-series forecasting, and employing data mining techniques on a variety of data.</p>
					</li>
				</ul>
				
				<h3 class="section-heading" style="text-decoration: underline">Undergrad</h3>
				<ul>
					<li>
						<p class="text-faded" style="color:white;" align="justify">I received my B.E with Honors in Chemical Engineering from BITS - Pilani in 2015. I am really fortunate to be a part of BITS alumni because BITS provided me an opportunity to experiment with engineering, coding, music and arts in one lifetime through quality education. </p>
					</li>
				</ul>
				
				<h3 class="section-heading" style="text-decoration: underline">Hobbies</h3>
				<ul>
					<li>
						<p class="text-faded" style="color:white;" align="justify">Having formally trained in Classical Bharatiya Sangeet and Western Music, I am into music of all sorts and can play multiple instruments.</p>
					</li>
					<li>
						<p class="text-faded" style="color:white;" align="justify">I also love travelling and have covered a lot of Northern and Western India during my undergard and working years. Also, thanks to my father's job relocations, I have stayed in and explored over 11 cities in India during my childhood. Most recently, I celebrated the new year in Orlando and Cape Canaveral</p>
					</li>
					<li>
						<p class="text-faded" style="color:white;" align="justify">Lastly, visit 1264, Barnes Street NW, Atlanta for some fingerlicious vegetarian food of your choice. </p>
					</li>
				</ul>
				
            </div>
        </div>
    </div>
</section>
