<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
				
				<h3 class="section-heading">Graduate life</h3>
                <p class="text-faded">I am a graduate student at Georgia Institute of Technology pursuing Masters of Science in Analytics, majoring in Computational Data Analytics. The major courses which I have taken are Natural Language Processing, Machine Learning, Regression Analysis, Deterministic Optimization, and Data and Visual Analytics.</p>
				<p class="text-faded">I am also a teaching assistant for Georgia Tech’s graduate-level course: MGT 8803 - Introduction to Business for Analytics course, where I have designed and conceptualized exam questions, led office hours, and assisted students through online forums.</p>
				
				<h3 class="section-heading">Experience</h3>
				<p class="text-faded">Prior to joining Georgia Tech, I have worked as Data Scientist and Strategy Executive for Oil and Natural Gas Corporation. I had an amazing opportunity to establish the department of analytics that synergizes the purely data driven machine learning modeling approach with traditional simulations.</p>
				<p class="text-faded">Additionally, I managed oil assets by building and utilizing production optimization models, statistical time-series forecasting, and employing data mining techniques on a variety of data.</p>
				
				<h3 class="section-heading">Undergrad</h3>
				<p class="text-faded">I received my B.E with Honors in Chemical Engineering from BITS - Pilani in 2015. I am really fortunate to be a part of BITS alumni because BITS provided me an opportunity to experiment with engineering, coding, music and arts in one lifetime though quality education. </p>
				
				<h3 class="section-heading">Hobbies</h3>
				<p class="text-faded">Having formally trained in Classical Bharatiya Sangeet and Western Music, I am into music of all sorts and can play multiple instruments.</p>
				<p class="text-faded">I also love travelling and have covered a lot of Northern and Western India during my undergard and working years. Also, thanks to my father's job relocations, I have stayed in and explored over 11 cities in India during my childhood. Most recently, I celebrated the new year in Orlando and Cape Canaveral</p>
				<p class="text-faded">Lastly, visit 1264, Barnes Street NW, Atlanta for some fingerlicious vegetarian food of your choice. </p>
				
				
				<a href="./Abhishek_Patria_Resume.pdf" target="_blank" class="btn btn-default btn-xl page-scroll">Resume</a>
            </div>
        </div>
    </div>
</section>
