<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">I am a graduate student at Georgia Institute of Technology pursuing Masters of Science in Analytics, majoring in Computational Data Analytics. I have worked as Data Scientist and Strategy Executive for Oil and Natural Gas Corporation. I had an amazing opportunity to establish the department of analytics that synergizes the purely data driven machine learning modeling approach with traditional simulations.</p>
                <a href="./Abhishek_Patria_Resume.pdf" target="_blank" class="btn btn-default btn-xl page-scroll">Resume</a>
            </div>
        </div>
    </div>
</section>
