<header>
    <div class="header-content">
        <div class="header-content-inner">
			<img src="../img/cover.png">
            <h1 style="text-transform: none; font-weight: normal" align="justify">Hi, I'm</h1>
            <br>
            <h1 style="text-transform: none; font-weight: normal" align="justify">&emsp;&emsp;&emsp; Abhishek Patria</h1>			
			<br>
			<br>
            <h3 style="text-transform: none; font-weight: normal">I like to generate value from data.</h3>
			<br>
			<a href="./Abhishek_Patria_Resume.pdf" target="_blank" class="btn btn-default btn-xl page-scroll">Resume</a>			
			<br>
			<a href="#portfolio" class="btn btn-default btn-xl page-scroll">Portfolio</a>
        
		</div>
    </div>
</header>
